<mat-card style="margin: 1rem; background-color: #f1f1f1; padding: 1rem">
    <form [formGroup]="taskForm" style="display: flex; flex-direction: column;">
        <mat-form-field appearance="outline">
            <mat-label>
                Nueva Tarea
            </mat-label>
            <input id="inputId" formControlName="task" matInput placeholder="Ej: Lavar los platos">
            <mat-icon matSuffix>
                sentiment_very_satisfied
            </mat-icon>
            <mat-hint>
                Añadir nueva tarea
            </mat-hint>
        </mat-form-field>
            <!-- @if (isEditing) { -->
                <button (click)="addTask()" [disabled]="taskForm.invalid" mat-raised-button color="primary" style="margin-top: 1rem;">
                    Añadir
                </button>
            <!-- } @else { -->
                <button (click)="updateTask()" [disabled]="taskForm.invalid" mat-raised-button color="primary" style="margin-top: 1rem;">
                    Actualizar
                </button>
            <!-- } -->
    </form>
</mat-card>