<div class="container-fluid">
    <div style="display: flex;">
        <div class="col-md-3" style="background-color: #303030; height: 90vh;">
            <div>
                <mat-card style="margin: 1rem">
                    <form>
                        <mat-form-field appearance="outline">
                            <mat-label>Outline form field</mat-label>
                            <input matInput placeholder="Placeholder">
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                            <mat-hint>Hint</mat-hint>
                        </mat-form-field>
                    </form>
                </mat-card>
            </div>
        </div>
        <div class="col-md-9">
            chao
        </div>
    </div>
</div>