<div class="container-fluid">
    <div style="display: flex;">
        <div class="col-md-3" style="background-color: #303030; height: 90vh;">
            <div>
                <app-add-task-component [taskToEdit]="taskToEdit"></app-add-task-component>
            </div>
        </div>
        <div style="margin-left: 1rem;">
            <div cdkDropListGroup style="display: flex;">
                <div class="col-md-4">
                    <!-- to do -->
                    <div class="example-container">
                        <h2>Por hacer</h2>
                        <div
                            cdkDropList
                            #todoList="cdkDropList"
                            [cdkDropListData]="tasks"
                            [cdkDropListConnectedTo]="[doneList, inProgressList]"
                            class="example-list"
                            (cdkDropListDropped)="drop($event)"
                        >
                            <div class="example-box" *ngFor="let item of tasks" cdkDrag>
                                {{item.description}}
                                <div>
                                    <button (click)="fetchTask(item)" style="margin-right: 0.5rem;">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button (click)="removeTask(item)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- in progress -->
                    <div class="example-container">
                        <h2>En progreso</h2>
                        <div
                            cdkDropList
                            #inProgressList="cdkDropList"
                            [cdkDropListData]="inProgressTasks"
                            [cdkDropListConnectedTo]="[todoList, doneList]"
                            class="example-list"
                            (cdkDropListDropped)="drop($event)"
                        >
                            <div class="example-box" *ngFor="let item of inProgressTasks" cdkDrag>
                                {{item.description}}
                                <div>
                                    <button (click)="fetchTask(item)" style="margin-right: 0.5rem;">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- done -->
                    <div class="example-container">
                        <h2>Terminadas</h2>
                        <div
                            cdkDropList
                            #doneList="cdkDropList"
                            [cdkDropListData]="doneTasks"
                            [cdkDropListConnectedTo]="[todoList, inProgressList]"
                            class="example-list"
                            (cdkDropListDropped)="drop($event)"
                        >
                            <div class="example-box" *ngFor="let item of doneTasks" cdkDrag>
                                {{item.description}}
                                <div>
                                    <mat-icon style="margin-right: 1rem;">check_circle</mat-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>